.conatiner{
  display: flex;
  width:93%;
  height:600px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right:auto;
  margin-top:30px;
}
/* .left-section{
  width:30%;
  background-color: rgb(12, 31, 48);
  overflow-y:scroll
} */
.right-section{
  overflow-y:scroll;
  width:70%;
}
/* .review-box,.publishedBy-box,.similar-notes{
  width:90%;
  height:70%;
  background-color:white;
  margin-left: auto;
  margin-right:auto;
  margin-top:5%;
  border-radius: 2px;
} */
.NoteDisplay-conatiner{
  width: 300px;
  height:500px;
  background-color:rgb(244, 244, 244);
  overflow-y: scroll;
  font-size: small;
  border-radius:1%;
}
.pdf-viewer{
  width:90%;
  height:500px;
  background-color: rgb(109, 52, 52);
  margin-top:20px;
}
.pdf-title,.tag-box,.flex-container,.reviews{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
/* .pdf-title{
  font-size:14px;
font-weight:400;
padding-top: 50px;

} */
.tag-box{
  display: flex;
  height:5%;
}
/* .tag{
  width:30px;
  background-color: orange;
  height:20px;
  margin-top:5%;
  margin-right: 10%;
  font-size: small;
  border-radius: 10px;
  text-align: center;
} */
.mini-tag{
  width:10px;
  background-color: orange;
  height:5px;
  margin-top:5%;
  margin-right: 10%;
  font-size: small;
  border-radius: 10px;
  text-align: center;
}
.flex-container{
  display: flex;
  margin-top:10%;
  margin-bottom: 10%;
}
.total-pages,.dot,.date{
  margin-right: 8%;
}
/* .dot{
  width: 10%;
  height:10%;
  border-radius: 10%;po
  background-color: orange;
} */
hr{
background-color: rgb(232, 232, 232);
  width:90%;
  border: 0;
height:1px;
}
/* .post-input{
  width:92.5%;
  border-color: orange;
  border-radius: 4px;
  height: 50px;
} */
/* .post-button{
  background-color: orange;
  border:0;
  height:25px;
  width: 20%;
  border-radius: 8px;
  margin-top:10px;
  color:white;
  font-size: smaller;
} */
.more-reviews{
width: 100%;
background-color: aliceblue;
height:3%;
}

